{% extends "layout/base.html" %}
{% block content %}
<h2>Cart</h2>
<div id="cartList"">
    <table>
        <thead>
            <tr>
                <td class="border">Sản phẩm</td>
                <td class="border">Số lượng</td>
                <td class="border">Giá</td>
                <td class="border">Tổng</td>
            </tr>
        </thead>
        <tbody>
            {% for product_id,item in cart_data.items %}
            <tr>
                <td class="border">
                    <img src="{{ item.thumbnail }}" width="50" alt="">
                    <p><a href="{% url 'core:detail_product' product_id%}">{{item.name}}</a></p>
                </td>
                <td class="border">
                    <input type="number" class="product-qty-{{product_id}}" value="{{item.qty}}" style="vertical-align: bottom;" />
					<button class="update-cart-item" data-item="{{product_id}}"><i class="fa fa-sync"></i></button>
					<button class="delete-cart-item" data-item="{{product_id}}"><i class="fa fa-trash"></i></button>
                </td>
                <td class="border">{{item.price}}</td>
                <td class="border"> {% widthratio item.price 1 item.qty %}</td>
            </tr>
            {% endfor%}
        </tbody>
        <tfoot>
			<tr>
                <td></td>
				<td></td>
				<th class="border">Total</th>
				<th class="border">{{total_price}}</th>
                
			</tr>
			{% if totalitems %}
			<tr>
                <td></td>
				<td></td>
                <td></td>
				<td class="border">
					<a href="" class="">Checkout <i class=""></i></a>
				</td>
			</tr>
			{% endif %}
		</tfoot>
    </table>
</div>
{% endblock content %}