{% extends "layout/base.html" %}
{% load static %}
{% load humanize %}
{% load concurency %}
{% block title %}Cart{% endblock title %}


{% block content %}
<div class="mx-auto w-full bg-[#f6faf0] rounded border flex flex-col px-8">
    <div class="flex justify-between items-center">
        <h1 class="text-xl font-bold my-10 uppercase">Đơn hàng của tôi</h1>
        <a href="{% url 'core:home' %}" class="btn hover:text-white border-green-500 hover:bg-green-500">
            <span>Tiếp tục mua sắm</span>
        </a>
    </div>
    <div class="flex grow justify-start flex-col gap-4 items-center">
        {% for order in orders %}
        <a href="{% url 'core:order_detail' order.id %}" class="rounded overflow-hidden border border-gray-300 w-5/6 px-2 shadow hover:bg-[#f0f9f8] transition">
            <h2 class="font-light mb-2 italic">{{ order.size }} sản phẩm</h2>
            <div class="flex items-center justify-between  gap-3">
                {% with product=order.items.first.product %}
                <img class="w-20" src="{{ product.thumbnail.url }}" alt="">
                <div class="grow">
                    <h2 class="text-lg">{{ product.name }}</h2>
                    <p class="text-gray-400">{{ product.category.label }}</p>
                    <p class="text-red-500">{{ product.price|vnd_format }}</p>
                </div>
                {% endwith %}
                <div class="text-center h-full font-semibold uppercase px-2">
                    {{ order.get_state_display }}
                </div>
            </div>
            <h2 class="text-right p-1 border-t mt-2 border-gray-400 text-gray-500 hover:text-gray-600">
                Tổng cộng: <span class="text-red-500">{{ order.total_price|vnd_format }}</span>
            </h2>
        </a>
        {% endfor %}
    </div>

    <div id="pagination" class="flex items-center justify-center gap-2 p-2">
        {% if page_obj.has_previous %}
        <a href="?page={{ pageobj.previous_page_number }}" class="mr-4">
            <i class="fas fa-chevron-left"></i>
        </a>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if i == page_obj.number %}
        <a href="#" class="px-3 py-2 rounded-md bg-[#667260]">
            {{ i }}
        </a>
        {% else %}
        <a href="?page={{ i }}" class="px-3 py-2 border rounded-md">{{ i }}</a>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="ml-4">
            <i class="fas fa-chevron-right"></i>
        </a>
        {% endif %}
    </div>
</div>
{% endblock content %}