{% extends "layout/admin.html" %}
{% load static %}
{% load humanize %}
{% load concurency %}

{% block content %}
<div class="w-full h-full">
    <h2 class="text-2xl font-bold mb-4">Product</h2>
    <div class="bg-[#ecf0f1] rounded-md overflow-hidden">
        <div id="product-controls" class="w-full h-20 px-2 flex items-center justify-between border">
            <div class="h-12 flex items-center justify-center w-1/2 border rounded">
                <i class="fas h-full rounded-l fa-search text-lg px-3 pt-4 bg-white"></i>
                <input placeholder="Từ khóa" type="text" class="h-full grow rounded-r outline-none">
            </div>

            <div>
                <a href="{% url 'core:add_product' %}" class="btn text-white bg-[#667260] hover:bg-[#373d32]">Thêm sản
                    phẩm</a>
            </div>
        </div>

        <div id="product-list" class="">

            <div class="relative overflow-x-auto bg-[#ecf0f1]">
                <table class="w-full text-sm text-left bg-[#f5f5f5] text-gray-500">
                    <thead class="text-xs text-gray-700 border uppercase">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Tên sản phẩm
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Phân loại
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Mã sản phẩm
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Đơn giá
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-[#ecf0f1]">
                        {% for product in products %}
                        <tr class="border-b">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                {{ product.name }}
                            </th>
                            <td class=" px-6 py-4">
                                {{ product.category }}
                            </td>
                            <td class="px-6 py-4">
                                {{ product.id }}
                            </td>
                            <td class="px-6 py-4">
                                {{ product.price|vnd_format }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock content %}