{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row-container">
        <div class="left__nav-category">
            <div class="left__nav">
                <p class="left__nav-title">Categories</p>
                <ul class="left__nav-menu">
                    <li class="left__nav-item">
                        <a href="{%  url 'core:category_product'%}" class="left__nav-link">
                            <i class="fa fa-chevron-right"></i>
                            All
                        </a>
                    </li>
                    {% for category in categories%}
                    <li class="left__nav-item">
                        <a href="{%  url 'core:category_product'%}?category={{category.label}}" class="left__nav-link">
                            <i class="fa fa-chevron-right"></i>
                            {{category.label}}
                        </a>
                    </li>
                    {% endfor%}


                </ul>
            </div>
        </div>
        <div class="right__content">
            <h2 class="category__product-title">Categories > Product</h2>
            <div class="category__product-list">
                <div class="row-container">
                    {% for product in products%}
                    <a href="" class="category__product-item">
                        <img src="{{product.thumbnail.url}}" alt="" class="category__product-img">
                        <p class="category__product_name">{{product.name}}</p>
                        <p class="category__product_price">{{product.price}} $</p>
                    </a>
                    {%endfor%}
                </div>
            </div>
            <ul class="pagination">
                <li class="pagination-item pagination-item__icon-first">
                    <a href="" class="pagination-item__link">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="pagination-item pagination-item__icon-first">
                    <a href="" class="pagination-item__link">
                        1
                    </a>
                </li>
                <li class="pagination-item pagination-item__icon-first">
                    <a href="" class="pagination-item__link">
                        2
                    </a>
                </li>
                <li class="pagination-item pagination-item__icon-first">
                    <a href="" class="pagination-item__link">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</div>
{% endblock content %}