{% extends "layout/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>Cây Kim Ngân Củ To</h1>
    <div id="product-info">
        <div id="product-image">
            <img src="https://cdn.tgdd.vn/Products/Images/42/220533/samsung-galaxy-a52-5g-1-400x460.png" alt="">
        </div>
        <div id="product-detail">
            <div id="product-price">
                <h2>Giá: 100.000đ</h2>
            </div>
            <div id="product-description">
                <h2>Mô tả</h2>
            </div>
        </div>
    </div>
    {% endblock content %}