{% extends "layout/adminbase.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="app-title">
    <a href="" class="">Danh Sách Sản Phẩm / Thêm Sản Phẩm</a>
</div>

<div class="row">
    <div class="col">
        <div class="tile">
            <h3 class="tile-title">Tạo sản phẩm mới</h3>
            <div class="">
                <form action="" method="post" class="control-label" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ pro_form.as_p}}
                    {{ img_form.as_p}}
                    <div class="">
                        <input class="btn btn-save" type="submit" value="Thêm sản phẩm">
                        <a href="{% url 'core:list_product'%}" class="btn btn-cancel">Hủy</a>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock content %}