{% extends "layout/admin.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}
<form action="" method="post">
    <legend class="text-2xl mb-3">Thêm sản phẩm mới</legend>
    {% csrf_token %}
    {{ form|crispy }}
    <div class="float-right">
        <input class="btn text-white bg-[#373d32] hover:bg-[#292d25]" type="submit" value="Xác nhận">
    </div>
</form>
{% endblock content %}

{% block js %}
<script>
    $("#id_price").on("change", function () {
        var price = $(this).val();
        console.log(price);
    })
</script>
<!-- Cây cảnh văn phòng
Cây cảnh loại to
Cây cảnh sen đá
Cây cảnh thủy sinh
Xương rồng cảnh
 -->

{% endblock js %}