{% extends "layout/adminbase.html" %}


{% block content %}
<div id="posts_list" class="flex flex-col gap-12">
    {% if messages %}
    <div id="messages-container" class="relative flex flex-col gap-1 mt-1 items-end">
        {% for message in messages %}
        <div {% if message.tags %} class="message {{ message.tags }}" {% else %}class="message" {% endif %}>
            <p>{{ message }}</p>
            <button class="text-lg px-2">&times;</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="flex items-center justify-between h-12 border">
        <h2 class="px-1 text-2xl">Danh sách các bài viết</h2>
        <a href="{% url 'blog:new' %}" class="p-4 bg-[#16a085] rounded hover:bg-[#16c416] text-gray-50">
            <i class="fa-solid fa-plus"></i> Thêm bài viết
        </a>
    </div>

    <div class="container bg-[#f5f5f5] m-auto grid grid-cols-4 gap-4">
        {% for post in posts_list %}
        <div class="post border flex flex-col gap-2 hover:scale-105 transition-transform">
            <a href="{% url 'blog:post_detail' post.id %}" class="">
                <img class="object-none" src="{{ post.cover_image.url }}" alt="">
            </a>
            <a class="" href="{% url 'blog:post_detail' post.id %}">
                <h2>{{ post.title }}</h2>
            </a>
            <hr class="">
            <p class="grow">{{ post.summary }}</p>
            <div class="flex justify-end gap-3">
                <span class="grow"></span>
                <a href="{% url 'blog:update' post.id %}" class="btn border bg-yellow-500 flex-1">
                    <i class="fas fa-edit"></i> Cập nhật
                </a>
                <form action="{% url 'blog:delete' post.id %}" method="post"
                    class="p-0 rounded text-white bg-red-500 flex-1">
                    {% csrf_token %}
                    <button class="w-full h-full p-3 rounded" type="submit"><i class="fas fa-trash"></i> Xóa</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}