{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="{% static 'css/tailwind-dev.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>

    <header class="app-header">
        <ul class="app-nav">
            <li>
                <a href="{% url 'core:home' %}" class="app-nav__item"><i
                        class="m-auto text-lg fa fa-right-from-bracket"></i></a>
            </li>
        </ul>
    </header>

    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src="{{ user.profile.avatar.url }}" width="50px" alt="User Image">
            <div>
                <p class="app-sidebar__user-name"><b>{{ user.profile.full_name }}</b></p>
                <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
            </div>
        </div>
        <hr>
        <ul class="app-menu">

            <li><a class="app-menu__item" href="{% url 'core:list_catagory' %}">
                    <i class='app-menu__icon fa fa-list'></i>
                    <span class="app-menu__label">Quản lý danh mục</span></a>
            </li>

            <li><a class="app-menu__item" href="{% url 'core:list_product' %}">
                    <i class='app-menu__icon fa fa-tags'></i>
                    <span class="app-menu__label">Quản lý sản phẩm</span></a>
            </li>
            <li><a class="app-menu__item" href="{% url 'core:list_post' %}">
                    <i class='app-menu__icon fa fa-pencil'></i>
                    <span class="app-menu__label">Quản lý bài viết</span></a>
            </li>


        </ul>
    </aside>

    <main class="app-content">

        {% block content %}

        {% endblock content %}

    </main>
</body>

</html>