{% extends "layout/forms.html" %}

{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block formblock %}
<div id="register" class="w-1/2 mx-auto p-4 rounded bg-[#ced6e0] shadow-md">

    <legend class="my-4 mb-8 text-2xl">
        <h1>Đổi mật khẩu</h1>
    </legend>

    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="flex justify-between my-4 px-1 text-gray-400">
            <div id="id_rememberme" class="">
                <span class="text-[#515b69]">Quên mật khẩu luôn rồi?</span>
            </div>
            <div id="forgot-password">
                <a href="{% url 'password_reset'%}" class="link">Quên mật khẩu</a>
            </div>
        </div>
        <div id="id_submit" class="my-4 text-white text-lg">
            <input class="cursor-pointer bg-[#5ba503] p-2 rounded w-full h-full" type="submit" value="Đổi mật khẩu">
        </div>
    </form>
</div>
{% endblock formblock %}