{% extends "layout/base.html" %}

{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block content %}
{% if validlink %}
<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div id="id_submit" class="my-4 text-white text-lg">
        <input class="cursor-pointer bg-[#5ba503] p-2 rounded w-full h-full" type="submit" value="Đặt lại mật khẩu">
    </div>
</form>
{% else %}
<p>Liên kết không hợp lệ, hoặc token đã hết hạn.</p>
<p>Hãy thử yêu cầu <a class="link" href="{% url 'password_reset' %}">đặt lại mật khẩu </a></p>
{% endif %}

{% endblock content %}