{% extends "layout/forms.html" %}

{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block formblock %}
{% if validlink %}
<div id="login" class="w-1/2 mx-auto p-4 rounded bg-[#ced6e0] shadow-md">

    <legend class="my-4 mb-8 text-2xl">
        <h1>Đặt lại mật khẩu</h1>
    </legend>

    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div id="id_submit" class="my-4 mt-12 text-white text-lg">
            <input class="cursor-pointer bg-[#5ba503] p-2 rounded w-full h-full" type="submit" value="Đặt lại mật khẩu">
        </div>
    </form>
</div>
{% else %}
<p>Liên kết không hợp lệ, hoặc token đã hết hạn.</p>
<p>Hãy thử yêu cầu <a class="link" href="{% url 'password_reset' %}">đặt lại mật khẩu </a></p>
{% endif %}

{% endblock formblock %}